html, body {
    height: 100%;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: raleway-c;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}


:root {
    --index: calc(1vw + 1vh);
    --color-header: #c29545;
    --color-text: #cdbea7;
}

@font-face {
    font-family: raleway-c;
    src: url(../fonts/raleway-regular.woff2) format('woff2');
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/outfit-regular.woff2) format('woff2');
}


/*навигационная панель*/

.navbar-brand {
    padding-left: 10vw; /* Измените значение, чтобы настроить отступ */
    font-size: 30px;
    color: #edb989;
}

.nav-link {
    color: var(--color-text);
    font-size: 20px;
}

.d-flex .list-group-item span {
    margin-right: 10vw;
    color: var(--color-header);
}

/*карусель*/

/* По умолчанию используйте изображение кругового движения */
.my-carousel .carousel-item img {
    object-fit: cover;
    width: calc(var(--index) * 45);
    height: 600px;
    display: block;
    margin: 0 auto;
}

/* Use the cover image on screens smaller than 768px */
@media (max-width: 768px) {
    .my-carousel .carousel-item img {
        object-fit: cover;
        --bs-aspect-ratio: 2/3;
        width: 100%;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
}

/* конец карусель*/

/*top-film основная страница*/

.top-films-list {
    align-items: center;
}

.top-films-list {
    margin: 0 auto;
    text-align: center;
}

.my-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-films-list {
    text-align: center;
}

.top-films {
    margin-bottom: 20px;
    border: 1px solid var(--color-header);
    border-radius: 15px;
    padding: 30px;
}

.top-films .img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-films img {
    max-width: 400px;
}

.top-films .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* добавляем высоту 100% для родительского блока */
}

.top-films-title {
    color: var(--color-header);
    font-size: 30px;
}

.top-films-rait,
.top-films-description {
    color: var(--color-text);
    font-size: 20px;
}

@media (max-width: 767px) {
    .top-films-description {
        display: none;
    }

    .top-films-title {
        color: var(--color-header);
        font-size: 22px;
    }
}


/* конец top-film основная страница*/

/*карточка фильма*/

.media-card img {
    max-width: 500px;

}

.my-row .media-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    display: inline-block;
    border: 2px solid var(--color-header);
    box-shadow: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin-top: 15px;
}

.card:hover {
    border-color: white;
    box-shadow: 0 0 10px white;
}

.card img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
}

.card:hover img {
    filter: blur(10px);
    transform: scale(1.1);
}

.card .top-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -25%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--color-header);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .top-text {
    opacity: 1;
    transform: scale(1.1);
}

/* Установите контейнер для использования макета flexbox */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Установите высоту контейнера, чтобы заполнить область просмотра*/
}

/* Style the "Фильмов нет." heading */
.no_films {
    text-align: center;
    font-size: 30px;
    color: var(--color-header);
}

/*end карточка фильма*/

/*жанр*/

.genre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .genre-container {
        display: none;
    }

    #show-genres-btn {
        display: block;
    }
}

@media screen and (min-width: 601px) {
    #show-genres-btn {
        display: none;
    }
}

.genre-container a {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
    border: 1px solid var(--color-header);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 14px;
    transition: all 0.3s ease;
}

.genre-container a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.movie-box {
    width: 300px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.movie-box h6 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
}

.movie-box p {
    margin-bottom: 0;
    font-size: 14px;
}

.bottom-genre {
    width: 75vw;
    border: 1px solid var(--color-header);
    color: var(--color-text);
    margin: 0 auto;
}

.bottom-genre:hover {
    background-color: #999;
    border: 1px solid #999;
    color: #4f4d4d;
}


/*конец жанр*/

/*поиск*/

.search {
    width: 80vw;
    margin: 0 auto;
}

.search input[type="text"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-header);
    color: var(--color-text);
}

.search button {
    background-color: transparent;
    border: 1px solid var(--color-header);
    color: var(--color-text);
}

.search button:hover {
    background-color: var(--color-header);
    color: #ffffff;
}


/*конец поиск*/

/*карточка фильма*/

.bg-primary {
    background-color: #007bff;
}

.bg-dark {
    background-color: #343a40;
}

.text-white {
    color: #fff;
}

.card-movie {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--color-text)

}

.modal-title {
    color: var(--color-header);
}

.modal-body {
    align-content: center;
}

.card-title-1 {
    color: var(--color-header);
    font-size: 60px;
}

.card-title-2 {
    color: var(--color-text);
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 30px;
}

.description {
    padding-left: 30px;
}


.modal-content {
    background-color: #23252a;
}

.modal-xl .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#video-player {
    max-width: 100%;
    max-height: 56.25vw; /* 9/16 = 0.5625 */
}

.trailer button {
    display: inline-block;
    padding: 5px 10px;
    background: transparent;
    margin: 5px 10px;
    border: 1px solid var(--color-header);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    transition: all 0.3s ease;
}

.trailer button:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}


.create_review button {
    display: inline-block;
    padding: 5px 10px;
    background: transparent;
    margin: 5px 10px;
    border: 1px solid var(--color-header);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    transition: all 0.3s ease;
}

.create_review button:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}


.review li:first-child {
  background-color: var(--color-header);
  color: black;
  font-size: 18px;

  border: none;
}

.review li:last-child {
  background-color: transparent;
  color: var(--color-text);
  font-size: 24px;
    font-weight: bold;
  border: 1px solid var(--color-header);
}



/*конец карточки фильма*/

/*чат*/

.container-chat {
    width: 100%;
}

#chatLog, #onlineUsersSelector, select, textarea, input {
    background-color: transparent;
    border: 1px solid var(--color-header);
    color: var(--color-text);
    font-size: 16px;
    padding: 5px;
}

#chatLog, #onlineUsersSelector {
    height: calc(var(--index) * 20);
}

#chatMessageSend {
    background-color: transparent;
    border: 1px solid var(--color-header);
    color: var(--color-text);
}

.chat-b {
    width: 50%;
}

.chat-b- {
    width: 50%;
    border-left: none;
}

select:hover, textarea:hover, input:hover {
    background-color: white;
    color: #0f0f0f;
}

.chat-b, .chat-b- {
    background-color: transparent;
    border: 1px solid var(--color-header);
    color: var(--color-text);
    width: 100%;
}

.form-control.mb-2 {
    display: inline-block;
    width: 80%;
    border-radius: 10px;
    margin-right: 10px; /* задаем отступ справа */
}

.btn-outline-primary {
    display: inline-block;
    vertical-align: top;
}

/*input[type="text"] {*/
/*    background-color: transparent;*/
/*    border: 1px solid var(--color-header);*/
/*    color: var(--color-text);*/
/*    font-size: 16px;*/
/*    padding: 5px;*/
/*}*/

/*input[type="text"]:hover {*/
/*    background-color: var(--color-text);*/
/*}*/

/*конец чат*/

/*видео проигрыватель*/

.video {
    padding: 0;
}

/* конец видео проигрыватель*/

/*логин, регистрация*/
.login-p {
    font-size: 20px;
}

/* конец логин, регистрация*/

/*список комнат*/

div.create-room {
    text-align: center;
}

.room-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    color: var(--color-text)
}

.room-filter button {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
    border: 1px solid var(--color-header);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 16px;
    transition: all 0.3s ease;
}

.room-filter button:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.create-room a {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
    border: 1px solid var(--color-header);
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-text);
    font-size: 20px;
    transition: all 0.3s ease;
}

.create-room a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.my-table-responsive {
    width: 85%;
}

.table th {
    color: var(--color-header);
    font-size: 20px;
    text-align: center;
}

.table td {
    color: var(--color-text);
    font-size: 18px;
    text-align: center;

}

.table a {
    text-decoration: none;
    color: var(--color-text);
    border-color: var(--color-header);
}

.table a:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
}

.btn-outline-primary {
    color: var(--color-text);
    border-color: var(--color-header);
}

.btn-outline-primary:hover {
    background-color: #333;
    color: #fff;
    transform: scale(1.1);
    border-color: var(--color-header);
}

.dropdown-menu a {
    color: black;
}

@media (max-width: 767px) {
    .table a {
        display: inline-block;
        padding: 5px 10px;
        margin: 5px 10px;
        border: 1px solid var(--color-header);
        border-radius: 5px;
        text-decoration: none;
        color: var(--color-text);

        transition: all 0.3s ease;
    }

    .table a:hover {
        background-color: #333;
        color: #fff;
        transform: scale(1.1);
    }
}

/*конец список комнат*/

/*аккаунт*/

.my-card {
    border: 1px solid var(--color-text);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center; /* Добавляем это свойство, чтобы центрировать по горизонтали */
    height: 100%; /* Необходимо задать высоту для блока "my-card" */
}

.my-card .card-body {
    text-align: center;
}

.my-card img.account-img {
    width: calc(var(--index) * 30);
    object-fit: cover;
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    border: 2px solid var(--color-text);
}

.my-card .form-group label {
    font-weight: bold;
}

.my-card button[type="submit"] {
    margin-top: 10px;
}

.form-control-file {
    padding: .375rem .75rem;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    box-shadow: none;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

input,
select,
textarea {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--color-text);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input:focus,
select:focus,
textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
    border-color: #80bdff;
}

.account-img {
    width: calc(var(--index) * 30);
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--color-header);
}

.card-text {
    font-size: 18px;
    margin-bottom: 10px;
    color: var(--color-text);
}

.container.profile {
    border: 1px solid var(--color-text);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.account-img {
    max-width: 80%;
    height: auto;
}

.my-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.col-sm-4 {
    flex-basis: 30%;
}

.col-sm-8 {
    flex-basis: 65%;
}

.card-title {
    margin-top: 0;
}

.card-text {
    margin-bottom: 0;
}

.icon-s {
    font-size: 2em; /* изменяем размер иконки */
}

/*конец аккаунт*/

/*рейтинг*/

.rating {
    display: inline-block;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    font-size: 2em;
    color: #ffc107;
    cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input[type="radio"]:checked ~ label {
    color: #ccc;
}

.rating label:hover {
    color: #ffd700;
}

.rating label.selected {
    color: #ffc107;
    animation: pulse 0.5s ease-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

/*конец рейтинг*/

/*футер*/

.footer {
    background-color: #23252a;
    padding: 20px;
}


.foot1 {
    font-size: 30px;
    text-align: center;
    color: var(--color-header);
}

.foot2 {
    font-size: 16px;
    text-align: center;
    color: var(--color-header);
}

.social-icon {
    width: 50px;
    padding: 0;
}

.foot3 {
    font-size: 20px;
    text-align: right;
    color: var(--color-text);
}


/*конец футер*/

/*pagination*/

.page-item .page-link {
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid var(--color-header);
}

.page-item.active .page-link {
    color: var(--color-text);
}

.form-control-p {
    border: 1px solid var(--color-header);
    border-radius: 1px;
    background-color: transparent;
    color: var(--color-text);
}


/* конец pagination*/