{% extends "movieapp/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container ">
    <ul class="list-group">
        <li class="list-group-item">
            <video id="video" class="w-100 h-100" controls>
                <source src="{{ video1.url }}" type="video/mp4">
            </video>
        </li>
        <li class="list-group-item">
            <div class="container mt-3">
                <h2>Чат комнаты: #{{ room_name }}</h2>
                <div class="d-flex">
                    <div class="flex-fill d-flex flex-column"
                         style="background-color: white; height: 100%; width: 70%;">
                        <div class="mb-2">
                            <textarea class="form-control" id="chatLog" readonly></textarea>
                        </div>
                        <div class="input-group">
                            <input type="text" class="form-control" id="chatMessageInput"
                                   placeholder="Введите сообщение...">
                            <div class="input-group-append">
                                <button class="btn btn-success" id="chatMessageSend" type="button">Отправить</button>
                            </div>
                        </div>
                    </div>
                    <div class="flex-fill d-flex flex-column" style=" height: 100%; width: 30%;">
                        <label for="onlineUsers">Онлайн-пользователи</label>
                        <select multiple class="form-control mb-2" id="onlineUsersSelector">
                        </select>
                    </div>
                </div>
                {{ room.name|json_script:"roomName" }}
            </div>
        </li>
    </ul>
</div>
<script src="{% static 'chatapp/chat_room.js' %}"></script>

{% endblock %}