{% extends "movieapp/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="row">
    <div class="search">
        <form method="GET" action="{% url 'movie_search' %}" class="input-group mb-3">
            <input type="text" name="q" placeholder="Поиск фильма..." class="form-control">
            <button class="btn btn-outline-primary" type="submit">Поиск</button>
        </form>
    </div>
    <div class="genre-container">
        {% for genre in genres %}
        <a href="{% url 'movie_filter' %}?genre={{ genre.name }}">{{ genre.name }}</a>
        {% endfor %}
    </div>
    {% if selected_genre %}
    <h2>Выбранный жанр: {{ selected_genre }}</h2>
    {% endif %}
    {% if movies %}
    {% for movie in movies %}
    <div class="col-md-3 col-sm-6 col-12">
        <div class="card">
            <a href="{% url 'movies_card' movie.id %}">
                <img src="{{ movie.cover_image.url }}" width="100%" height="auto" alt="{{ movie.title }}">
                <div class="top-text">{{ movie.title }}</div>
                <div class="bottom-text">{{ movie.description }}</div>
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <br>
    <h2 class="no_films">Фильмов нет.</h2>
    {% endif %}
</div>


{% endblock %}