{% extends "movieapp/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4 text-white">
            <img src="{{ movie.cover_image.url }}" width="100%" height="auto" alt="{{ movie.title }}">
        </div>
        <div class="col-sm-9 col-md-6 col-lg-8 text-white">
            <p class="card-movie"><h4>Название: {{ movie.title }}</h4></p>
            <p class="card-movie"><h4>Год выпуска: {{ movie.year }}</h4></p>
            <p class="card-movie">
            <h4>Страна: </h4>
            {% for country in movie.country.all %}
            {{ country.name }}
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>
            <p class="card-movie">
            <h4>Жанры: </h4>
            {% for genre in movie.genre.all %}
            {{ genre.name }}
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
            </p>
            <p>
                {% include 'movieapp/movie_rate.html' %}
            </p>

        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <h2>Описание фильма: </h2>
        <p class="card-movie">{{ movie.description }}</p>

    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <iframe
                id="video-player"
                src="{{ trailer }}"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen
                style="width: 100%; height: 100%;"
        ></iframe>

        <script>
            window.addEventListener('resize', function () {
                var player = document.getElementById('video-player');
                player.style.width = '100%';
                player.style.height = player.offsetWidth * 0.5625 + 'px'; // соотношение сторон 16:9
            });
        </script>
    </div>
</div>


{% endblock %}