{% extends "movieapp/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div>
    <a class="create" href="{% url 'movie_create' %}">Добавить фильм</a>
</div>

<div class="row">
    {% if movies %}
    {% for movie in movies %}
    <div class="col-md-3 col-sm-6 col-12">
        <p>{{ movie.title }}</p>
        <p>{{ movie.description }}</p>
        <p>{{ movie.year }}</p>
        <p>{{ movie.genre }}</p>
        {% if movie.cover_image %}
        <img src="{{ movie.cover_image.url }}" width="100%" height="auto" class="" alt="...">
        {% endif %}
        {% if movie.video %}
        {% endif %}
    </div>

    {% endfor %}
    {% else %}
    <p class="no_films">Фильмов нет.</p>
    {% endif %}
</div>


{% endblock %}