{% extends "movieapp/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ movie.title }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="my-row">
        <div class="media-card col-sm-3 col-md-6 col-lg-4">
            <img src="{{ movie.cover_image.url }}" width="100%" height="auto" alt="{{ movie.title }}">
        </div>
        <div class="description col-sm-9 col-md-6 col-lg-8">
            <div class="card-title-1">{{ movie.title }}</div>
            <div class="card-title-2">{{ movie.title_eng }}</div>
            <p class="card-movie">Год выпуска:</p><h4> {{ movie.year }}</h4>
            <p class="card-movie">Страна:</p>
            <h4>
                {% for country in movie.country.all %}
                {{ country.name }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h4>
            <p class="card-movie">Жанры:</p>
            <h4>
                {% for genre in movie.genre.all %}
                {{ genre.name }}
                {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </h4>
            <br>
            <br>
            <div class="raiting">
                {% include 'movieapp/movie_rate.html' %}
            </div>
            <br>
            <div class="trailer">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                    Смотреть трейлер
                </button>
                {% include 'movieapp/movie_trailer.html' %}
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <h2>Описание фильма: </h2>
        <p class="card-movie">{{ movie.description }}</p>
        <div class="reviews">
            {% include 'movieapp/movie_raviews.html' %}
        </div>
    </div>
</div>

{% endblock %}