{% extends "movieapp/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="row">
    <div class="search">
        <form method="GET" action="{% url 'movie_search' %}" class="input-group mb-3">
            <input type="text" name="q" placeholder="Поиск фильма..." class="form-control">
            <button class="btn btn-outline-primary" type="submit">Поиск</button>
        </form>
    </div>
    <button id="show-genres-btn" class="btn btn-outline-primary bottom-genre">Показать жанры</button>
    <div class="genre-container">
        {% for genre in genres %}
        <a href="{% url 'movie_filter' %}?genre={{ genre.name }}">{{ genre.name }}</a>
        {% endfor %}
    </div>
    {% if selected_genre %}
    <h2 class="no_films">Выбранный жанр: {{ selected_genre }}</h2>
    {% endif %}
    {% if movies %}
    {% for movie in movies %}
    <div class="col-md-3 col-sm-6 col-12">
        <div class="card">
            <a href="{% url 'movies_card' movie.id %}">
                <img src="{{ movie.cover_image.url }}" width="100%" height="auto" alt="{{ movie.title }}">
                <div class="top-text">{{ movie.title }}</div>
            </a>
        </div>
    </div>
    {% endfor %}
    <div class="pagination-container">
        {% include 'pagination/movies_pagination.html' %}
    </div>
    {% else %}
    <br>
    <div class="container">
        <h2 class="no_films">Фильмов нет.</h2>
    </div>
    {% endif %}
</div>




<script>
    const showGenresBtn = document.getElementById('show-genres-btn');
    const genreContainer = document.querySelector('.genre-container');

    showGenresBtn.addEventListener('click', function () {
        if (genreContainer.style.display === 'none') {
            genreContainer.style.display = 'flex';
        } else {
            genreContainer.style.display = 'none';
        }
    });
</script>

{% endblock %}